@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');


.disable-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    /* font-family: sans-serif; */
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

:root {
    --img-height: 159px;
    --img-width: 100%;
    --img-position: 0 0;
    --img-skeleton: linear-gradient(#f0f0f0 var(--img-height), transparent 0);
    --text-height: 16px;
    --text-skeleton: linear-gradient(#f0f0f0 var(--img-height), transparent 0);
    --text-1-width: 100%;
    --text-1-position: 0 170px;
    --text-2-width: 70%;
    --text-2-position: 0 195px;
    --text-3-width: 100%;
    --text-3-position: 0 220px;
    --blur-width: 200px;
    --blur-size: var(--blur-width) 270px;
}


@media (min-width: 992px){
    :root {
        --img-height: 175px;
        --img-skeleton: linear-gradient(#f0f0f0 var(--img-height), transparent 0);
        --text-1-position: 0 190px;
        --text-2-position: 0 215px;
        --text-3-position: 0 240px;
    }    
}

:root {
    --tagify-dd-color-primary: rgb(53,149,246);
    --tagify-dd-bg-color: white;
}

:root {
    --swiper-theme-color: #007aff;
}

:root {
    --swiper-navigation-size: 44px;
}

:root {
    --primary-color: #ffffff;
    --white-mode-primary-color: #000000;
    --dark-mode-primary-color: #ffffff;
    --text-color: #000000;
    --dark-mode-text-color: #000000;
    --white-mode-text-color: #ffffff;
}

/* body {
    font-family: "Pretendard","Apple SD Gothic Neo","Malgun Gothic",sans-serif;
} */

body {
    margin: 0;
    font-family: "Pretendard","Apple SD Gothic Neo","Malgun Gothic",sans-serif;
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}

button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.main-background {
    background-color: #fff;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    max-width: none;
    overflow-x: auto;
    padding-bottom: 0;
    color: #121212;
}

.main-header {
    display: block;
    max-width: 100vw;
    z-index: 1030;
    position: fixed;
    right: 0;
    left: 0;
    width: auto;
    perspective: 1000px;
    backface-visibility: hidden;
    transform: translateY(0);
    background-color: #fff;
}

.main-header-custom {
    position: relative;
    z-index: 1;
    padding-top: 60px;
    color: #121212;
    background-color: #fff;
}

.main-header-first-line{
    color: #121212;
    position: fixed;
    top: 0!important;
    right: 0;
    left: 0;
    z-index: 2;
    transform: translate3d(0,0,0);
    height: 60px;
    background-color: inherit;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.first-line-container {
    color: #121212;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 16px;
    padding-left: 16px;
    justify-content: space-between;
    height: 60px;
    max-width: 1072px;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a, a:hover {
    color: currentColor;
    text-decoration: none;
    outline: none;
}

a:-webkit-any-link {
    /* color: -webkit-link; */
    cursor: pointer;
}

.logo-select {
    line-height: 24px;
    border: 1px solid transparent;
    text-decoration: none;
    min-width: 40px;
    height: 40px;
    width: 40px;
    border-radius: 0;
    padding: 5px;
    position: relative;
}

.logo-select::before {
    line-height: 24px;
    content: "";
    position: absolute;
    background: url(https://d33pksfia2a94m.cloudfront.net/assets/img/postype/logo_black.svg) no-repeat center;
    background-size: contain;
    width: 28px;
    height: 28px;
    border-radius: 4px;
}

.logo-select::after {
    line-height: 24px;
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 4px;
}

.first-line-container-wrap {
    flex: 1;
    height: 100%;
    overflow: hidden;
    color: #121212;
}

.first-line-container-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-weight: 600;
    height: 100%;
    position: relative;
    max-width: 512px;
    margin-left: -4px;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #121212;
}

.first-line-container-text::before {
    text-align: center;
    font-weight: 600;
    white-space: nowrap;
    font-size: 20px;
    line-height: 60px;
    color: #121212;
    border-left: 1px solid;
    content: "";
    position: absolute;
    top: calc(50% - 9px);
    left: 16px;
    height: 18px;
    border-color: rgba(0,0,0,.2);
}

.first-line-container-text-write {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 60px;
    color: #121212;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 32px;
    font-family: "Pretendard","Apple SD Gothic Neo","Malgun Gothic",sans-serif;
}

.action-icon {
    display: flex;
    align-items: center;
    margin-right: 0;
    color: #121212;
}

.search-icon-container {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
    background: none;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid transparent;
    flex-shrink: 0;
    position: relative;
    display: inline-block;
    border-radius: 25rem;
    min-width: 40px;
    height: 40px;
    width: 40px;
    padding: 7px;
    cursor: pointer;
    color: #121212;
}

.s-icon {
    user-select: none;
    text-align: center;
    cursor: pointer;
    color: #121212;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    vertical-align: middle;
    font-size: 20px;
}

.s-icon::before {
    user-select: none;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    color: #121212;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    font-size: 20px;
    content: "\f002";
    box-sizing: border-box;
}

.menu-container {
    margin: 0;
    overflow: visible;
    text-transform: none;
    font-family: inherit;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 400;
    background: none;
    background-color: transparent;
    border: 1px solid transparent;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    flex-shrink: 0;
    border-radius: 25rem;
    min-width: 40px;
    height: 40px;
    width: 40px;
    margin-left: 8px;
    cursor: pointer;
    color: #121212;
    position: relative;
    padding: 3px;
}

.m-icon {
    text-transform: none;
    user-select: none;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    color: #121212;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    vertical-align: middle;
    font-size: 20px;
}

.m-icon::before {
    text-transform: none;
    user-select: none;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    font-size: 20px;
    content: "\f007";
}

.main-header-image {
    height: calc(100vw / 6.666666666666667);
    margin-bottom: -48px;
    display: none!important;
    /* background-image: url((unknown)); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.first-container-end-line {
    width: 100%;
    max-width: 1072px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.main-header-second-line {
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: 56px;
    color: #121212;
    background-color: #fff;
}

.main-header-second-line::before{
    left: 0;
    z-index: 1;
    border-top: 1px solid;
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    border-color: rgba(0,0,0,.05);
}

.second-line-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1072px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding-right: 16px;
    padding-left: 16px;
    height: 56px;
}

.container-left {
    align-items: center;
    display: flex;
    flex: 0 0 25%;
    max-width: 25%;
    width: 152px;
}

.back-icon {
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 400;
    background: none;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid transparent;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    border-radius: 25rem;
    min-width: 40px;
    height: 40px;
    width: 40px;
    padding: 7px;
    margin-left: 0;
    color: #121212;
    cursor: pointer;
}

.back-icon-left {
    user-select: none;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 1px 0 -1px;
}

.back-icon-left::before {
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    font-size: 20px;
    box-sizing: border-box;
    content: "\f053";  
}

.container-center {
    align-items: center;
    display: flex;
    overflow: hidden;
}

.center-title-wrap {
    max-width: 320px;
    overflow: hidden;
    text-align: center;
    margin: 0 4px;
    font-size: 13px;
    line-height: 16px;
}

.center-title-text {
    text-align: center;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    line-height: 0;
}

.center-title-text span {
    font-size: 17px;
    line-height: 22px;
    font-weight: 500;
}

.container-right {
    align-items: center;
    display: flex;
    flex: 0 0 25%;
    max-width: 25%;
    justify-content: flex-end;
    width: 152px;
    margin-right: 0;
}

.setting-dropdown {
    position: relative;
}

.setting-icon {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 400;
    background: none;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid transparent;
    position: relative;
    display: inline-block;
    border-radius: 25rem;
    min-width: 40px;
    height: 40px;
    width: 40px;
    padding: 7px;
    color: #121212;
    cursor: pointer;
}

.setting-icon-model {
    user-select: none;
    white-space: nowrap;
    text-align: center;
    color: #121212;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    vertical-align: middle;
    font-size: 20px;
}

.setting-icon-model::before {
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    text-align: center;
    color: #121212;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    font-size: 20px;
    box-sizing: border-box;
    content: "\f013";
}

setting-dropdown-right {
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    z-index: 1000;
    display: none;
    float: left;
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    min-width: 200px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: #606060;
    border-radius: 5px;
}

.main-body-custom {
    flex: 1;
    flex-direction: column;
    display: flex;
    padding-top: 120px;
    padding-bottom: 64px;
    perspective: 1000px;
    backface-visibility: hidden;
    transform: translateY(0);
}

.main-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.select-goods {
    display: block;
    color: #121212;
}

.main-post-block {
    display: flex;
    max-width: 740px;
    margin: auto;
    overflow: hidden;
    padding: 40px 20px 0;
    padding-top: 20px;
}

.post-thumnail-wrapper{
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    width: unset;
    height: unset;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: middle;
    border-style: none;
}


.thumnail-image {
    object-fit: cover;
    width: 358px;
    height: 268px;
}

.post-summary-section {
    overflow-x: hidden;
    font-size: 16px;
    border-color: rgba(0,0,0,.05);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-left: 32px;
    flex: 1;
    border-bottom: none;
}

.summary-title-section {
    /* margin-bottom: 20px; */
    margin-bottom: 0px;
    font-size: 16px;
}

.sell-group {
    margin-bottom: 20px;
}

.sell {
    text-decoration: none!important;
    vertical-align: top;
    border: 1px solid;
    font-style: normal;
    line-height: 16px;
    text-align: center;
    padding: 2px 6px;
    border-radius: 3px;
    transition: background-color .15s ease-in-out;
    color: #3478FF;
    background: #EBF4FF;
    border-color: #EBF4FF;
    font-weight: 500!important;
    display: inline-block;
    font-size: 14px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.h1, h1 {
    font-size: 2.5rem;
}

.summary-title {
    margin-bottom: 0;
    word-break: break-word;
    font-weight: 600;
    font-size: 24px !important;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000;
}
.summary-middle-section {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.middle-preview-icon {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.preview-img {
    font-size: 16px;
    overflow-clip-margin: content-box;
    overflow: clip;
    border-style: none;
    width: inherit;
    height: inherit;
    vertical-align: top;
    border-radius: 6px
}

.preview-img::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    width: inherit;
    height: inherit;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: inherit;
}

.middle-body {
    font-size: 16px;
    flex: 1;
    overflow: hidden;
}

.middle-body-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.middle-body-test-link {
    white-space: nowrap;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color:#121212; 
}

.middle-body-text-date {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 2px;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0,0,0,.47);
}

.create-date {
    font-size: 14px;
    line-height: 18px;
    color: rgba(0,0,0,.47);
    white-space: nowrap;
}

.time-item {
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    color: rgba(0,0,0,.47);
}

.view-count {
    white-space: nowrap;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0,0,0,.47);
}

.view-count::before {
    white-space: nowrap;
    margin-top: 2px;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0,0,0,.47);
    content: "·";
    margin-left: 3px;
    margin-right: 3px;
}

.view-number {
    white-space: nowrap;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0,0,0,.47);
}

.out-icon-section {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.out-icon-button {
    margin: 0;
    overflow: visible;
    text-transform: none;
    font-family: inherit;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 400;
    background: none;
    -webkit-appearance: button;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid transparent;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    border-radius: 25rem;
    min-width: 40px;
    height: 40px;
    width: 40px;
    padding: 7px;
    color: #121212;
    cursor: pointer;
}

.out-icon {
    text-transform: none;
    user-select: none;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    transform: rotate(270deg);
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    filter: none;
    vertical-align: middle;
    font-size: 20px;
    position: relative;
    top: -1px;
}

.out-icon::before {
    text-transform: none;
    user-select: none;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    font-size: 20px;
    content: "\f08b";
}

.list-dropdown {
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    user-select: none;
    font-size: 16px;
    margin-top: -20px;
    position: absolute;
    z-index: 1000;
    width: 310px;
}

.list-option {
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: rgba(0,0,0,.33);
    height: 46px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    padding: 12px;
    background: #FFF;
    border: 1px solid rgba(0,0,0,.2);
    text-align: left;
}

.down-icon {
    content: "\f078";
    -webkit-text-size-adjust: 100%;
    text-align: left;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    float: right!important;
    margin-right: 0.25rem!important;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    color: #000;
}

.down-icon::before {
    content: "\f078";
    box-sizing: border-box;
    color: #000;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
}

.up-list{
    cursor: pointer;
    float: right!important;
    margin-right: 0.25rem!important;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    color: #000;
    display: none;
}

.select-wrap {
    font-size: 16px;
    margin-top: 65px;
}

.select-list {
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.select-total {
    font-size: 16px;
    margin-top: 16px;
    padding-bottom: 0;
}

.order-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000;
    padding: 0;
    letter-spacing: -.22px;
}

.order-total {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    letter-spacing: -.15px;
    color: #3478ff;
}

.submit-wrap {
    font-size: 16px;
    padding-top: 20px;
}

.button-strong {
    padding-block: 1px;
    padding-inline: 6px;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    letter-spacing: normal;
    word-spacing: normal;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    font-stretch: ;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    margin: 0;
    font-family: inherit;
    overflow: visible;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    background: none;
    -webkit-appearance: button;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    font-weight: 400;
    background-color: rgba(0,0,0,1);
    color: rgba(255,255,255,1)!important;
    cursor: pointer;
    width: 100%;
    height: 44px;
    border: 1px solid;
}

.sale-infomation {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,.05);
    max-width: 700px;
    margin: 40px auto 0 auto;
    border-top: 1px solid rgba(0,0,0,.05);
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -.13px;
    color: #909090;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px 20px;
}

.sale-info-period {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -.13px;
    color: #909090;
}

.sale-open {
    line-height: 21px;
    letter-spacing: -.13px;
    color: #909090;
    font-weight: 500;
    font-size: 15px;
}

.sale-open-date{
    font-weight: 400;
    color: #000;
    margin-left: 16px;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -.13px;
}

.sale-close {
    font-size: 15px;
    margin-top: 0.25rem!important;
    box-sizing: border-box;
    line-height: 21px;
    letter-spacing: -.13px;
    color: #909090;
    font-weight: 500;
}

.sale-close-date {
    font-weight: 400;
    color: #000;
    margin-left: 16px;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -.13px;
}

.goods-details{
    max-width: 740px;
    margin: auto;
    padding-top: 60px;
    padding: 40px 20px 0;
    color: #121212;
    user-select: none;
}

.post-info {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -.16px;
    color: #000;
    margin-bottom: 16px;
    padding: 0;
    margin: 0;
    user-select: none;
}

.post-body {
    color: #121212;
}

.post-body-content {
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    word-break: break-word;
    visibility: visible!important;
    text-align: left!important;
    color: #121212;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.p1 {
    text-align: left!important;
    word-break: break-word;
    line-height: 1.75;
    font-size: 16px;
    margin-bottom: 1em;
    min-height: 1.7em;
    margin-top: 0!important;
    font-family: "Pretendard","Apple SD Gothic Neo","Malgun Gothic",sans-serif;
}

.image-list {
    text-align: center;
    line-height: 0;
    font-size: 16px;
    font-weight: 400;
    word-break: break-word;
    visibility: visible!important;
    color: #121212;
}