@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
    --primary-color: #ffffff;
    --white-mode-primary-color: #000000;
    --dark-mode-primary-color: #ffffff;
    --text-color: #000000;
    --dark-mode-text-color: #000000;
    --white-mode-text-color: #ffffff;
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
    --tagify-dd-color-primary: rgb(53,149,246);
    --tagify-dd-bg-color: white;
    --img-height: 175px;
    --img-skeleton: linear-gradient(#f0f0f0 var(--img-height), transparent 0);
    --text-1-position: 0 190px;
    --text-2-position: 0 215px;
    --text-3-position: 0 240px;
    --img-width: 100%;
    --img-position: 0 0;
    --text-height: 16px;
    --text-skeleton: linear-gradient(#f0f0f0 var(--img-height), transparent 0);
    --text-1-width: 100%;
    --text-2-width: 70%;
    --text-3-width: 100%;
    --blur-width: 200px;
    --blur-size: var(--blur-width) 270px;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.disable-selection {
    user-select: none;
}

body {
    font-family: "Pretendard","Apple SD Gothic Neo","Malgun Gothic",sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

a, a:hover {
    color: currentColor;
    text-decoration: none;
    outline: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.blog {
    background-color: #fff;
    color: #121212;
    padding-bottom: 0;
    max-width: none;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* 헤더 부분 */
.header {
    transition: transform .25s ease;
    background-color: #fff;
    transform: translateY(0);
    backface-visibility: hidden;
    perspective: 1000px;
    position: fixed;
    right: 0;
    left: 0;
    width: auto;
    z-index: 1030;
    max-width: 100vw;
}

.header-custom {
    background-color: #fff;
    color: #121212;
    padding-top: 60px;
    position: relative;
    z-index: 1;
}

.custom-gnb {
    background-color: inherit;
    border-bottom: 1px solid rgba(0,0,0,.05);
    height: 60px;
    position: fixed;
    top: 0!important;
    right: 0;
    left: 0;
    z-index: 2;
    transform: translate3d(0,0,0);
}

.custom-gnb-container {
    height: 60px;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    position: relative;
    align-items: center;
    display: flex;
    max-width: 1072px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.custom-gnb-logo {
    padding: 5px;
    position: relative;
    display: block;
    border-radius: 0;
    width: 40px;
    min-width: 40px;
    height: 40px;
    text-decoration: none;
    line-height: 24px;
    border: 1px solid transparent;
}

.custom-gnb-logo::before {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background: url(https://d33pksfia2a94m.cloudfront.net/assets/img/postype/logo_black.svg) no-repeat center;
    background-size: contain;
    content: "";
    position: absolute;
}

.custom-gnb-logo::after {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    content: "";
    position: absolute;
}

.custom-gnb-brand-wrap {
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.custom-gnb-brand-middle {
    color: #121212;
    align-items: center;
    display: flex;
    text-decoration: none;
    max-width: 512px;
    margin-left: -4px;
    font-size: 20px;
    line-height: 60px;
    position: relative;
    height: 100%;
    text-align: center;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-gnb-brand-middle::before {
    border-color: rgba(0,0,0,.2);
    top: calc(50% - 9px);
    left: 16px;
    height: 18px;
    content: "";
    position: absolute;
    border-left: 1px solid;
}

.custom-gnb-brand-title {
    padding: 0 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-gnb-action-group {
    margin-right: 0;
    align-items: center;
    display: flex;
}

.custom-gnb-action-btn-icon {
    color: #121212;
    cursor: pointer;
    width: 40px;
    padding: 7px;
    min-width: 40px;
    height: 40px;
    border-radius: 25rem;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid transparent;
    text-decoration: none;
    background: none;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-gnb-action-fa-search {
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.custom-gnb-action-fa-search::before {
    content: "\f002";
}

.custom-gnb-action-user-menu {
    padding: 3px;
    position: relative;
    color: #121212;
    cursor: pointer;
    margin-left: 8px;
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 25rem;
    display: inline-block;
    flex-shrink: 0;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid transparent;
    background: none;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-gnb-action-fa-user {
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.custom-gnb-action-fa-user::before {
    content: "\f007";
}

.custom-header-image {
    background-image: url(https://d2ufj6gm1gtdrc.cloudfront.net/2023/12/08/14/03/67892ab….jpeg?w=1600&q=90);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: none!important;
    height: calc(100vw / 6.666666666666667);
    margin-bottom: -20px;
}

.custom-container {
    position: relative;
    max-width: 1072px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.header-body-custom {
    background-color: #fff;
    color: #121212;
    height: 56px;
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-body-custom::before {
    border-color: rgba(0,0,0,.05);
    bottom: -1px;
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    border-top: 1px solid;
}

.header-body-custom-container {
    height: 56px;
    padding-right: 16px;
    padding-left: 16px;
    position: relative;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1072px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.body-custom-navbar-left {
    width: 152px;
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    align-items: center;
}

.navbar-left-btn-back {
    cursor: pointer;
    color: #121212;
    margin-left: 0;
    width: 40px;
    padding: 7px;
    min-width: 40px;
    height: 40px;
    border-radius: 25rem;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid transparent;
    background: none;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.fal.fa-chevron-left {
    margin: 0 1px 0 -1px;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fal.fa-chevron-left::before {
    content: "\f053";
}

.body-custom-navbar-center {
    opacity: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.navbar-center-title-wrap {
    margin: 0 4px;
    font-size: 13px;
    line-height: 16px;
    max-width: 320px;
    overflow: hidden;
    text-align: center;    
}

.navbar-center-title {
    margin: 0;
    line-height: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navbar-center-title> span {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
}

.navbar-center-subtitle {
    color: rgba(0,0,0,.47);
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navbar-center-title-btn-prev {
    color: #ccc;
    opacity: 1;
    order: -1;
    padding: 5px 7px 5px 3px;
    display: inline-block;
    min-width: 36px;
    width: 36px;
    height: 36px;
    border-radius: 25rem;
    position: relative;
    flex-shrink: 0;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid transparent;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.fas.fa-caret-left {
    position: relative;
    top: -1px;
    font-size: 20px;
    vertical-align: middle;
}

.fas.fa-caret-left::before {
    content: "\f0d9";
}

.navbar-center-title-btn-next {
    display: inline-block;
    min-width: 36px;
    width: 36px;
    height: 36px;
    padding: 5px 3px 5px 7px;
    cursor: pointer;
    color: #121212;
    order: 3;
    border-radius: 25rem;
    position: relative;
    flex-shrink: 0;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid transparent;
    background: none;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.fas.fa-caret-right {
    position: relative;
    top: -1px;
    font-size: 20px;
    vertical-align: middle;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fas.fa-caret-right::before {
    content: "\f0da";
}

.body-custom-navbar-right {
    margin-right: 0;
    width: 152px;
    justify-content: flex-end;
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    align-items: center;
}

.navbar-right-btn-like {
    display: inline-block;
    cursor: pointer;
    color: #121212;
    width: 40px;
    padding: 7px;
    min-width: 40px;
    height: 40px;
    border-radius: 25rem;
    position: relative;
    flex-shrink: 0;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid transparent;
    background: none;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-like-heart-default {
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.btn-like-heart-default::before {
    content: "\f004";
}

.btn-like-heart-active {
    vertical-align: middle;
    font-size: 20px;
}

.navbar-right-btn-scrap {
    cursor: pointer;
    color: #121212;
    margin-left: 8px;
    width: 40px;
    padding: 7px;
    min-width: 40px;
    height: 40px;
    border-radius: 25rem;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid transparent;
    background: none;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.right-btn-scrap-bookmark-default {
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.right-btn-scrap-bookmark-default::before {
    content: "\f02e";
}

.right-btn-scrap-bookmark-active {
    vertical-align: middle;
    font-size: 20px;
    display: none;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.navbar-right-dropdown {
    margin-left: 8px;
    position: relative;
}

.right-dropdown-post-options {
    cursor: pointer;
    color: #121212;
    width: 40px;
    padding: 7px;
    min-width: 40px;
    height: 40px;
    border-radius: 25rem;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid transparent;
    background: none;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.right-dropdown-post-options-cog {
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.right-dropdown-post-options-cog::before {
    content: "\f013";
}

.right-dropdown-menu {
    min-width: 200px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: #606060;
    border-radius: 5px;
    right: 0;
    left: auto;
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
}

.right-dropdown-font-size {
    padding: 6px 33px!important;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 15px;
    line-height: 24px;
    color: #606060;
    width: 100%;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.right-dropdown-font-size-setting {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    display: inline-block;
}

.right-dropdown-btn-group {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.right-dropdown-btn-minify {
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    margin-left: 0!important;
    display: inline-flex!important;
    width: 32px!important;
    height: 32px!important;
    padding: 3px!important;
    font-size: 14px!important;
    line-height: 24px!important;
    color: #555!important;
    border-color: #ddd!important;
    border-radius: 50%!important;
    align-items: center;
    justify-content: center;
    background: none;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.right-dropdown-divider {
    display: inline-flex;
    vertical-align: top;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 15px;
}

.right-dropdown-font-icon {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    vertical-align: top;
}

.right-dropdown-btn-enlarge {
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    margin-left: 0!important;
    display: inline-flex!important;
    width: 32px!important;
    height: 32px!important;
    padding: 3px!important;
    font-size: 14px!important;
    line-height: 24px!important;
    color: #555!important;
    border-color: #ddd!important;
    border-radius: 50%!important;
    align-items: center;
    justify-content: center;
    background: none;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.right-dropdown-btn-enlarge-plus {
    display: inline-flex;
    vertical-align: top;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 15px;
}
.right-dropdown-divider {
    border-color: rgba(0,0,0,.05);
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.right-dropdown-backgroun-setting-item {
    padding: 6px 33px!important;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 15px;
    line-height: 24px;
    color: #606060;
    width: 100%;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.right-dropdown-backgroun-setting {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    display: inline-block;
}

.right-dropdown-backgroun-setting-divider {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.backgroun-setting-divider-btn-bg {
    color: #3478ff!important;
    border-color: currentColor!important;
    box-shadow: 0 0 0 1px currentColor!important;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    margin-left: 0!important;
    display: inline-flex!important;
    width: 32px!important;
    height: 32px!important;
    padding: 3px!important;
    font-size: 14px!important;
    line-height: 24px!important;
    border-radius: 50%!important;
    align-items: center;
    justify-content: center;
    background: none;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.backgroun-setting-divider-btn-bg> span {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.backgroun-setting-divider-btn-black {
    background-color: #202020;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
    text-align: center;
    border: 1px solid transparent;
    margin-left: 0!important;
    display: inline-flex!important;
    width: 32px!important;
    height: 32px!important;
    padding: 3px!important;
    font-size: 14px!important;
    line-height: 24px!important;
    color: #555!important;
    border-color: #ddd!important;
    border-radius: 50%!important;
    align-items: center;
    justify-content: center;
    background: none;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.backgroun-setting-divider-btn-black> span {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.right-dropdown-backgroun-divider {
    display: none;
    border-color: rgba(0,0,0,.05);
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.navbar-right-episodes-toggle {
    display: inline-block;
    margin-left: 16px;
    cursor: pointer;
    color: #121212;
    padding: 3px 12px;
    font-weight: 400;
    border: 1px solid;
    position: relative;
    flex-shrink: 0;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    border-radius: 4px;
    background: none;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-color: rgba(0,0,0,.15);
}

/* 메인 부분 */
.main {
    transform: translateY(0);
    backface-visibility: hidden;
    perspective: 1000px;
    padding-bottom: 64px;
    padding-top: 120px;
}